<div>
    <form ng-submit="vm.addName()">
        <label>
            <input type="text" ng-model="vm.name"/>
            <button>Add name</button>
        </label>
    </form>
</div>
<ul>
    <li ng-repeat="name in vm.names" ng-click="vm.setList(name)">{{name.name}} {{name.items}} <span ng-click="vm.delName(name)">X</span></li>
</ul>
<div>
    Current List: {{vm.currName.name}}
</div>
<div>
    <form ng-submit="vm.addItem()">
        <label>
            <input type="text" ng-model="vm.item"/>
            <button>Add item</button>
        </label>
    </form>
</div>
<ul ng-if="vm.currName.items != 'empty'">
    <li ng-repeat="item in vm.currName.items">{{item}} <span ng-click="vm.delItem(item)">X</span></li>
</ul>